.weather-card {
    width: 200px;
    border: 1px solid $LIGHTGREY;
    margin: 22px 10px;
    & > .day-time {
        display: flex;
        flex-direction: column;
        line-height: 0;
        text-align: center;
        & > .day {
            line-height: 0;
            font-size: 18px;
            font-weight: 700;
        }
        & > .time {
            font-size: 12px;
        }
    }
    & > .temperature {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        & > img {
            height: 62px;
            width: 62px;
        }
    }
    & > .condition {
        text-align: center;
    }
}